.home__bg {
  background-image: url(https://d540vms5r2s2d.cloudfront.net/mad/uploads/mad_blog_6012b5c838d421611838920.png);
  height: 92vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.home-message-icon {
  margin-left: 10px;
  display: inline-block;
}

/* Medium screens */
@media (min-width: 576px) and (max-width: 767px) {
  .home__bg {
     /* background-image: none; */
    height: 60vh;
  }

  .home_wrapper {
    white-space: nowrap;
    margin: 50px;
  }
}

/* Small screens */
@media (max-width: 575px) {
  .home__bg {
    height: 40vh;
  }

   .home_wrapper {
    white-space: nowrap;
    margin: 50px;
  }
}
